<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2>Detalles del usuario</h2>
    <div class="card">
        <div class="card-header">DNI</div>
        <div class="card-body">
            <p class="card-text" th:text="${user.dni}">88888847X</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Nombre</div>
        <div class="card-body">
            <p class="card-text" th:text="${user.name}">Juan</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">Apellidos</div>
        <div class="card-body">
            <p class="card-text" th:text="${user.lastName}">Peréz Almonte</p>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
