<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2 th:text="#{teacher.add.title}">Agregar profesor</h2>
    <form action="/teacher/add" class="form-horizontal" method="post" th:object="${teacher}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="dni" th:text="#{form.dni}">Dni:</label>
            <div class="col-sm-10">
                <input class="form-control" id="dni" name="dni" placeholder="123456789A"
                       required="true" th:value="${teacher.dni}" type="text"/>
                <span class="text-danger" th:errors="*{dni}" th:if="${#fields.hasErrors('dni')}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="nombre" th:text="#{form.name}">Nombre:</label>
            <div class="col-sm-10">
                <input class="form-control" id="nombre" name="nombre" placeholder="Omar"
                       required="true" th:value="${teacher.nombre}" type="text"/>
                <span class="text-danger" th:errors="*{nombre}" th:if="${#fields.hasErrors('nombre')}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="apellidos" th:text="#{form.surname}">Apellidos:</label>
            <div class="col-sm-10">
                <input class="form-control" id="apellidos" name="apellidos" placeholder="Teixeira González"
                       required="true" th:value="${teacher.apellidos}" type="text"/>
                <span class="text-danger" th:errors="*{apellidos}" th:if="${#fields.hasErrors('apellidos')}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="categoria" th:text="#{teacher.category}">Categoría:</label>
            <div class="col-sm-10">
                <input class="form-control" id="categoria" name="categoria" placeholder="App developer"
                       required="true" th:value="${teacher.categoria}" type="text"/>
                <span class="text-danger" th:errors="*{categoria}" th:if="${#fields.hasErrors('categoria')}"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" th:text="#{form.send}" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
