<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-
springsecurity4" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}"></h2>
    <h3 th:text="#{home.info}">Esta es una zona privada la web</h3>
    <p th:text="#{home.user.info}">
        Usuario Autenticado como :
        <b sec:authentication="principal.username" th:inline="text"></b>
    </p>
    <p th:text="#{home.marks}">Notas del usuario</p>
    <div class="table-responsive">
        <table th:replace="fragments/marksTable"/>
    </div>
</div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>