<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}"></h2>
    <h3>Esta es una zona privada la web</h3>
    <p>
        Usuario Autenticado como :
        <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
    </p>
    <p>Notas del usuario</p>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableMarks" id="tableMarks">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Descripción</th>
                <th scope="col">Puntuación</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mark : ${markList}">
                <td scope="row" th:text="${mark.id}"> 1</td>
                <td th:text="${mark.description}"> Ejercicio 1</td>
                <td th:text="${mark.score}">10</td>
                <td><a th:href="${'/mark/details/' + mark.id}">detalles</a></td>
                <td><a th:href="${'/mark/edit/' + mark.id}">modificar</a></td>
                <td><a th:href="${'/mark/delete/' + mark.id}">eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>