<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2 th:text="#{mark.details.title}">Detalles de la nota</h2>
    <div class="card">
        <div class="card-header" th:text="#{form.dni}">DNI</div>
        <div class="card-body">
            <p class="card-text" th:text="${mark.user.dni}">88888847X</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" th:text="#{mark.description}">Descripción</div>
        <div class="card-body">
            <p class="card-text" th:text="${mark.description}">Ejercicio 1</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header" th:text="#{mark.score}">Puntuación</div>
        <div class="card-body">
            <p class="card-text" th:text="${mark.score}">100</p>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
