<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2 th:text="#{mark.list.title}">Notas</h2>
    <form action="/mark/list" class="form-inline">
        <div class="form-group">
            <input class="form-control" name="searchText" placeholder="Buscar por descripción o nombre del alumno" size="50"
                   type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
    <p th:text="#{mark.list.info}">Las notas que actualmente figuran en el sistema son las siguientes:</p>
    <button class="btn btn-primary" id="updateButton" th:text="#{button.update}" type="button">Actualizar</button>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#updateButton").click(function () {
            let numberPage = [[${param.page}]];
            let urlUpdate = '/mark/list/update';
            if (numberPage != null) {
                urlUpdate += "?page=" + numberPage[0];
            }
            $("#tableMarks").load(urlUpdate);
        });
        /*]]>*/
    </script>
    <div class="table-responsive">
        <table th:replace="fragments/marksTable"/>
    </div>
    <div th:if="${#lists.isEmpty(markList)}" th:text="#{mark.list.empty}"> No marks</div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
